div#crypto {
  width: 90%;
  margin: 0 auto 4px auto;
}

div#search {
  width: 100%;
  display: inline-block;
}

p {
  display: inline-block;
}

input#search {
  display: inline-block;
  width: 6%;
}

div#crypto-container {
  background: white;
  margin: 0 auto 4px auto;
  padding: 1em;
  box-shadow: 1px 1px 0 lightgrey;
}

img#refresh-icon {
  display: inline-block;
  padding-bottom: 30px;
}

img {
  height: 25px;
  width: 25px;
  float: right;
}

span.left {
  font-weight: bold;
}

span.right {
  float: right;
}
